{% extends "bannerfp.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}預約資料{% endblock title%}


{% block content %}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">預約資料</h3>
                </div>

                <form method="post" action={{ url_for('patients.appointment') }}>
                    <form class="d-flex col-sm-4">
                        <div class="input-group ">
                            <input name="appointmentId" type=" search" placeholder="預約編號", value="{{ newAppointId }}">
                            <input name="appointmentTime" type=" search" placeholder="預約時間">
                            <input name="reason" type="search" placeholder="身體不適原因">
                            <button class="btn btn-outline-success" type="submit" action={{
                                url_for('patients.appointment')}}>新增預約</button>
                        </div>
                        <br>
                        <div class="input-group ">
                            <input name="appointmentdId" type=" search" placeholder="欲刪除預約編號">
                            <button class="btn btn-outline-success" type="submit" action={{ url_for('patients.appointment')
                                }}>刪除預約</button>
                        </div>
                    </form>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"> 預約編號</th>
                                <th scope="col"> 病人編號</th>
                                <th scope="col"> 預約時間</th>
                                <th scope="col"> 身體不適原因</th>
                                <th scope="col"> 前台人員編號</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for col in data %}
                            <tr>
                                <td scope="row">{{ col.id }}</td>
                                <td scope="row">{{ col.patients_name }}</td>
                                <td scope="row">{{ col.appointment_time }}</td>
                                <td scope="row">{{ col.reason }}</td>
                                <td scope="row">{{ col.front_desk_id }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


            </div>
        </div>
    </div>
</section>
{% endblock content%}