{% extends "bannerfp.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}個人資料{% endblock title%}

{% block content %}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">個人資料</h3>
                </div>
                <table id="jds-example" class="table">
                    {% if current_user.role == "PATIENT" %}
                    <thead>
                        <tr>
                            <th scope="col"><h5>身分［求診者］</h5></th>
                        </tr>
                    </thead>
                    {% endif %}
                    <tbody>
                        <tr>
                            {% for col in data %}
                            <td scope="row">編號： {{ col.no }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">姓名： {{ col.name }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">生日：{{ col.birthday }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">手機：{{ col.mobile }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">電話：{{ col.phone }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">地址：{{ col.address }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">飲食及生活習慣：{{ col.dal }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">先天疾病：{{ col.cd }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">備註：{{ col.notes }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>

                <br>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">更新個人資料</h3>
                </div>
                <form action="{{ url_for('patients.record') }}" method="post">
                    <div class="form-group">
                        <label for="name">姓名：</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ data[0].name }}">
                    </div>
                    {% if current_user.role == "PATIENT" %}
                    <div class="form-group">
                        <label for="birthday">生日：</label>
                        <input type="text" class="form-control" id="birthday" name="birthday" value="{{ data[0].birthday }}">
                    </div>
                    <div class="form-group">
                        <label for="mobile">手機：</label>
                        <input type="text" class="form-control" id="mobile" name="mobile" value="{{ data[0].mobile }}">
                    </div>
                    <div class="form-group">
                        <label for="phone">電話：</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="{{ data[0].phone }}">
                    </div>
                    <div class="form-group">
                        <label for="address">地址：</label>
                        <input type="text" class="form-control" id="address" name="address" value="{{ data[0].address }}">
                    </div>
                    <div class="form-group">
                        <label for="dal">飲食及生活習慣：</label>
                        <input type="text" class="form-control" id="dal" name="dal" value="{{ data[0].dal }}">
                    </div>
                    <div class="form-group">
                        <label for="cd">先天疾病：</label>
                        <input type="text" class="form-control" id="cd" name="cd" value="{{ data[0].cd }}">
                    </div>
                    <div class="form-group">
                        <label for="notes">備註：</label>
                        <input type="text" class="form-control" id="notes" name="notes" value="{{ data[0].notes }}">
                    </div>
                    {% endif %}
                    <br>
                    <button type="submit" class="btn btn-primary">更新資料</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content%}