{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}病患註冊頁面{% endblock title%}

{% block content%}

{% with messages = get_flashed_messages() %}
{% if messages[0]== 'Successed!'%}
<script>
    alert("新增成功");
</script>
{% endif %}
{% endwith %}

<div class="position-absolute top-50 start-50 translate-middle outer_div">
    <a href="{{ url_for('index') }}"><img class="icon" src="{{ url_for('static', filename='./img/home.png') }}"></a>
    <h1 class="register_title mb-5 mt-5">病患註冊</h1>

    <div class="form_div">
        <form method='post' action={{ url_for('patients.register') }}>
            <p class="mb-3">
                姓名：<input type="text" name="patientsName" placeholder="請輸入姓名" required />
            </p>

            <p class="mb-3">
                帳號：<input type="text" name="patientsAccount" placeholder="請輸入身分證字號" required />
                {% with messages = get_flashed_messages() %}
                {% if messages[0]== 'Falied!' %}
            <p class="same_accoount">
                *已經有相同的帳號名稱
            </p>
            {% endif %}
            {% endwith %}
            </p>

            <p class="mb-4">
                密碼：<input type="password" name="patientspassword" placeholder="請輸入密碼" required />
            </p>

            <p class="mb-3">
                生日：<input type="date" name="patientsBirthday" placeholder="請輸入生日" required />
            </p>

            <p class="mb-3">
                手機：<input type="text" name="patientsMobilephone" placeholder="請輸入手機" required />
            </p>

            <p class="mb-3">
                電話：<input type="text" name="patientsPhone" placeholder="請輸入電話" required />
            </p>

            <p class="mb-3">
                地址：<input type="text" name="patientsAddress" placeholder="請輸入地址" required />
            </p>

            <p class="mb-3">
                飲食及生活習慣：<input type="text" name="patientsHabbit" placeholder="請輸入飲食及生活習慣" required />
            </p>

            <p class="mb-3">
                先天疾病：<input type="text" name="patientsDisease" placeholder="請輸入先天疾病" />
            </p>

            <p class="mb-3">
                備註：<input type="text" name="patientsNote" placeholder="請輸入備註" />
            </p>

            <p>
                <a href="{{ url_for('patients.home') }}">
                    <button type="button" class="register_btn">回上頁</button>
                </a>
                <button type="submit" class="register_btn"> 註冊</button>
            </p>
        </form>
    </div>
</div>
{% endblock content%}