{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}註冊頁面{% endblock title%}

{% block content%}
<div class="position-absolute top-50 start-50 translate-middle outer_div">
    <a href="{{ url_for('index') }}"><img class="icon" src="{{ url_for('static', filename='./img/home.png') }}"></a>
    <h1 class="register_title mb-5 mt-5">病患註冊</h1>

    <div class="form_div">
        <form method='post' action={{ url_for('api.register') }}>
            <p class="mb-3">
                姓名：<input type="text" name="username" required />
            </p>

            <p class="mb-3">
                帳號：<input type="text" name="account" required />
                {% with messages = get_flashed_messages() %}
                {% if messages %}
            <p class="same_accoount">
                *已經有相同的帳號名稱
            </p>
            {% endif %}
            {% endwith %}
            </p>

            <p class="mb-4">
                密碼：<input type="password" name="password" required />
            </p>

            <p>
                <a href="{{ url_for('patients.home') }}">
                    <button type="button" class="register_btn">回上頁</button>
                </a>
                <button type="submit" class="register_btn"> 註冊</button>
            </p>
        </form>
    </div>
</div>
{% endblock content%}