[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
alembic = "*"
click = "*"
colorama = "*"
greenlet = "*"
gunicorn = "*"
importlib-metadata = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
numpy = "*"
oracledb = "*"
sqlalchemy = "*"
typing-extensions = "*"
werkzeug = "==2.3.0"
zipp = "*"
getpass4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
