{% extends "banner.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}預約時段{% endblock title%}


{% block content %}

<div class="container-xxl">

    <center>
        <div class="container">

            <div class="timetable-img text-center">
                <img src="img/content/timetable.png" alt="">
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="fw-normal mb-0 text-black">歡迎使用系統，請點選上方功能列，以進行操作</h3>
            </div>
            <img width="50%" height="50%" src="../static/img/background.png">
        </div>
    </center>

</div>

{% endblock content%}