{% extends "banner.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}個人資料{% endblock title%}


{% block content %}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">個人資料</h3>
                </div>
                <table id="jds-example" class="table">
                    <!-- <thead>
                        <tr>
                            {% for col in data %}
                            <th scope="col"> 姓名： {{ col.name }}</th>
                            {% endfor %}
                        </tr>
                    </thead> -->
                    {% if data[0].speicalization %}
                    <tbody>
                        <tr>
                            {% for col in data %}

                            <td scope="row">姓名： {{ col.name }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">醫療專長：{{ col.speicalization }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">職稱：{{ col.positions }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">學歷：{{ col.education }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for col in data %}
                            <td scope="row">經歷：{{ col.experience }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                    {% else %}
                    <tbody>
                        <tr>
                            {% for col in data %}
                            <td scope="row">姓名： {{ col.name }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                    {% endif %}
                </table>

            </div>
        </div>
    </div>
</section>
{% endblock content%}