{% extends "banner.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}病歷資料{% endblock title%}


{% block content %}

<section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">病歷資料</h3>
                </div>
                <form class="d-flex col-sm-4" action="{{ url_for('api.record', keyword=keyword) }}">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </span>
                        <input name='keyword' class="form-control me-2" type="search" placeholder="搜尋病人編號，輸入完請按 Enter"
                            aria-label="Search">
                    </div>
                </form><br />
                <form method="post" action={{ url_for('api.record') }}>
                    {% if current_user.role == "Doctor" %}
                    <form class="d-flex col-sm-4">
                        <div class="input-group">
                            <input name="recordId" type=" search" placeholder="病歷編號">
                            <input name="appointmentId" type="search" placeholder="預約編號">
                            <input name="patientId" type=" search" placeholder="病人編號時間">
                            <input name="visit_time" type="search" placeholder="看診時間">
                            <input name="diagnosis" type="search" placeholder="診斷">
                            <button class="btn btn-outline-success" type="submit" action={{
                                url_for('api.record')}}>新增</button>
                        </div>
                        <br>
                        <div class="input-group">
                            <input name="recorddId" type=" search" placeholder="欲刪除病歷編號">
                            <button class="btn btn-outline-success" type="submit" action={{ url_for('api.record')
                                }}>刪除病歷</button>
                        </div>
                    </form>
                    {% endif %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"> 病歷編號</th>
                            <th scope="col"> 預約編號</th>
                            <th scope="col"> 病人編號</th>
                            <th scope="col"> 病人名稱</th>
                            <th scope="col"> 病人生日</th>
                            <th scope="col"> 病人手機</th>
                            <th scope="col"> 病人電話</th>
                            <th scope="col"> 病人地址</th>
                            <th scope="col"> 病人飲食及生活習慣</th>
                            <th scope="col"> 病人先天疾病</th>
                            <th scope="col"> 病人備註</th>
                            <th scope="col"> 就診時間</th>
                            <th scope="col"> 診斷</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for col in data %}
                        <tr>
                            <td scope="row">{{ col.recordId }}</td>
                            <td scope="row">{{ col.appointmentId }}</td>
                            <td scope="row">{{ col.patientsId }}</td>
                            <td scope="row">{{ col.patientName }}</td>
                            <td scope="row">{{ col.patientBirthday }}</td>
                            <td scope="row">{{ col.patientMobile }}</td>
                            <td scope="row">{{ col.patientPhone }}</td>
                            <td scope="row">{{ col.patientAddress }}</td>
                            <td scope="row">{{ col.patientHabbit }}</td>
                            <td scope="row">{{ col.patientCD }}</td>
                            <td scope="row">{{ col.patientNotes }}</td>
                            <td scope="row">{{ col.vistTime }}</td>
                            <td scope="row">{{ col.diagnosis }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
{% endblock content%}